<h1>Edit a task</h1>
<p>be efficient</p>

<%= render 'form' %>

<!-- <form action="/tasks" method="post">
  <input type="text" name="task[content]">
  <input type="text" name="task[date]">
  <input type="number" name="task[rating]">
  <input type="submit" value="Create task">
</form>
 -->
